.bgcol{
    background: #FDFDFD 0% 0% no-repeat padding-box;

}
.txt {

    top: 619px;
    left: 102px;
    width: 514px;
    height: 41px;
    text-align: center;
    font: Regular 15px/19px PT Sans;
    letter-spacing: 0px;
    color: #181D33;
    opacity: 0.48;

}

.hed
{
    top: 578px;
left: 112px;
width: 494px;
height: 33px;
text-align: center;
font: Bold 26px/40px PT Sans;
letter-spacing: 0px;
color: #181D33;
opacity: 1;
}

























